
/* common css */
.multiple-dropdown{
	border-left:3px solid #DEDEDF;
	padding-left:5px;
	cursor:pointer;
	position:relative;
}
.multiple-dropdown label{
	display:block;
}
.multiple-dropdown label:after{
	content: ' ';
	display: inline-block;
	border: 5px solid transparent;
	border-color:#A0A0A0 transparent transparent transparent;
	margin:-2px 5px;
}
.multiple-dropdown ul{
	list-style: none;
	padding-left: 5px;
	position: absolute;
	background: #fff;
	width: 100%;
	left: -3px;
	border-left: 3px solid #DEDEDF;
	top: 100%;
	visibility: collapse;
	z-index: 1000;
}
.multiple-dropdown ul.collapse-dropdownlist{
	visibility: visible;
}
.editable-dropdown .selection-list {
	position:relative;
}
.editable-dropdown .selection-list .select-arrow{
	display:block;
	border: 5px solid transparent;
	border-color:#A0A0A0 transparent transparent transparent;
	position:absolute;
	top: 10px;
	right: 5px;
}
.editable-dropdown .selection-list{
	width:175px;
}
.editable-dropdown .selection-list ul,.editable-dropdown .selection-list input{
	width:100%;
}
.editable-dropdown .selection-list ul{
	position:absolute;
	max-height:100px;
	overflow-y:auto;
	top:100%;
	border:1px solid #7f9db9;
	border-top:none;
	background:#fff;
	padding-left:0;
	z-index:1000;
}
.editable-dropdown .selection-list ul li{
	padding-left:5px;
}
.editable-dropdown .selection-list ul li:hover,.editable-dropdown .selection-list ul li.cur_focus{
	background:rgb(49, 106, 197);
	color:#fff;
}
.autocomplete-box{
	position:relative;
}
.autocomplete-box label,.autocomplete-box .tag{
	float:left;
	margin-right:5px;
	min-width: 75px;
}
.autocomplete-box .tag input{
	color:#F4FAF2;
	padding: 2px 0 2px 5px;
	text-transform: uppercase;
	font-weight: bold;
	min-width: 50px;
}
.autocomplete-box .tag span{
	display: inline-block;
	padding: 2px 5px;
	cursor: pointer;
	color:#F4FAF2;
	float:right;
}
.autocomplete-box ul{
	position:absolute;
	max-height:100px;
	overflow-y:auto;
	top:100%;
	border:1px solid #7f9db9;
	background:#fff;
	padding-left:0;
	width:100%;
}
.autocomplete-box ul li{
	padding:5px;
}
.autocomplete-box ul li:hover,.autocomplete-box ul li.cur_focus{
	background:rgb(49, 106, 197);
	color:#fff;
}
.autocomplete-box input{
	background:transparent;
	border:none;
}
.autocomplete-box input:focus{
	outline:0;
}
.editable-input[readonly=readonly],.editable-input[readonly]{
	border:none;
}
.editable-input{
	border:inherit;
	background:transparent;
}
/* end common css */